body {
margin: 0;
padding: 0;

color: #FFFFFF;
width: 100%;
min-height: 100%;
overflow-x: hidden;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
font-family: helvetica;

}

.bg-light2 {
background-color: #1F487C;
}
.linkblack {
color: #000;
text-decoration: none;
background-color: transparent;
font-family: helvetica;
}
body header {
background-color: transparent;
font-family: helvetica, sans-serif;
position: fixed;
display: block;
width: 100%;
height: 48px;
top: 0;
right: 0;
left: 0;
z-index: 90;
}
body header .header-inner {
padding: 12px 1.5%;
}

body header .header-inner .logo {
position: relative;
display: inline;
width: auto;
height: auto;
float: left;
}
body header .header-inner .logo a {
position: relative;
display: inline;
width: auto;
height: auto;
color: #FFFFFF;
outline: 0px none;
outline: 0px;
text-decoration: none;
transition: all 0.35s ease-in-out;
text-transform: uppercase;
}
body header .header-inner .logo a:hover {
color: rgba(255, 255, 255, 0.45);
}
body header .header-inner .logo a span {
font-weight: 700;
}
body header .header-inner nav {
position: relative;
display: inline;
margin: 0;
padding: 0;
list-type-style: none;
float: right;
}
body header .header-inner nav li {
position: relative;
display: inline;
margin-left: 16px;
}

body header .header-inner nav li a {
font-family: helvetica, sans-serif;
position: relative;
font-size: 13px;
color: #FFFFFF;
text-decoration: none;
line-height: 24px;
transition: all 0.35s ease-in-out;
}

body header .header-inner nav li a span {
position: relative;
z-index: 2;
}
body header .header-inner nav li a:hover {
color: rgba(255, 255, 255, 0.45);
}
body section.slideshow {
position: relative;
display: block;
width: 100%;
height: 100%;
height: 100vh;
margin: 0 auto;
visibility: hidden;
overflow: hidden;
}
body section.slideshow ul.navigation {
position: absolute;
display: block;
width: 640px;
height: 640px;
padding: 0;
margin: 0;
left: -230px;
top: 50%;
margin-top: -320px;
z-index: 10;
}

body section.slideshow ul.navigation li.navigation-item {
position: absolute;
display: inline-block;
overflow: hidden;
width: 120px;
height: 120px;
padding: 10px;
text-align: center;
cursor: pointer;
border-radius: 50%;
transition: border 0.6s ease-in-out;
}

body section.slideshow ul.navigation li.navigation-item .rotate-holder {
position: fixed;
display: block;
width: 0;
height: 0;
left: -9999px;
top: -9999px;
}
body section.slideshow ul.navigation li.navigation-item .background-holder {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 50%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
visibility: visible;
transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}
body section.slideshow ul.navigation li.navigation-item:hover .background-holder {
opacity: 0.75;
}
body section.slideshow ul.navigation li.navigation-item.active .background-holder {
opacity: 0;
visibility: hidden;
}
body section.slideshow .detail {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 8;
}
body section.slideshow .detail .detail-item {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
body section.slideshow .detail .detail-item .headline {
position: absolute;
display: block;
width: 100%;
max-width: calc(100% - 480px);
height: 126px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: visible;
white-space: nowrap;
box-sizing: border-box;
z-index: 2;
}

body section.slideshow .detail .detail-item .headline .letter {
font-family: helvetica, sans-serif;
position: relative;
display: inline-block;
opacity: 0;
visibility: hidden;
color: #FFFFFF;
font-size: 132px;
line-height: 110px;
font-weight: 400;
font-kerning: none;
white-space: nowrap;
box-sizing: border-box;
text-transform: uppercase;
}

body section.slideshow .detail .detail-item .headline .letter .lettermain{
font-family: helvetica, sans-serif;
position: relative;
display: inline-block;
opacity: 0;
visibility: hidden;
color: blue;
font-size: 132px;
line-height: 110px;
font-weight: 700;
font-kerning: none;
white-space: nowrap;
box-sizing: border-box;
text-transform: uppercase;
}




body section.slideshow .detail .detail-item .background {
position: absolute;
display: block;
width: 100%;
width: calc(100% + 100px);
height: 100%;
height: calc(100% + 100px);
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: visible;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
z-index: 1;
}
body section.slideshow .detail .detail-item .background::before {
content: "";
background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 2;

}
body section.slideshow .detail .detail-item.active {
opacity: 1;
visibility: visible;
}




/* .whitelink a, a:hover, a:active, a:visited {
  color: white; } */

.greyb {
  background-color: #D3D3D3;
}


.nodec {
font-family: helvetica;
font-weight: 400;
}

.sidenav {

height: 100% ;
width: 100px;
position: fixed;
z-index: 99997;
top: 0;
right: 0;
/* background-color: #111; */
overflow-x: hidden;
padding-top: 390px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
padding: 2px 8px 2px 16px;
text-decoration: none;
font-size: 14px;
color: rgb(95, 158, 160);
display: block;
border: none;
background: none;
width: 100%;
text-align: left;
cursor: pointer;
outline: none;
}
.zindex {
  z-index: 99999;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
color: rgb(95, 158, 160);
/* text-shadow: 0.5px 0.5px rgb(255, 241, 0); */
}
.hiddentext {
    font-weight: bold;
    opacity: .01;
    background-clip: padding-box;
}
.hiddentext:hover{
  font-weight: bold;
  opacity: 1;
  background-clip: padding-box;
}



/* Main content */
.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 20px; /* Increased text to enable scrolling */
padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
color: #286090;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
display: none;
background-color: #262626;
padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
float: right;
padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
/* .mainNav2 {
  -webkit-transition: padding-top .3s,padding-bottom .3s;
  -moz-transition: padding-top .3s,padding-bottom .3s;
  transition: padding-top .3s,padding-bottom .3s;
  border: none;
  background-color: #212529;
  #mainNav{
    background-color:#212529
  } */


.cycle {
  margin-top: 30px !important;
}
.linkblack2 {
  text-align: left;
  margin-bottom: 80px;
}
.center {
  text-align: center;
}

section#sissuite.py-5.expad {
  padding: 230px 50px 0px 50px !important;
}
section#atex.py-5.expad {
  padding: 230px 50px 0px 50px !important;
}

.boldd {
  font-weight: 700;

}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.p-0 {
  padding: 0 !important;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#solutions .container-fluid {
  max-width: 1920px;
}

#solutions .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.hero-item {
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-item h2 {
  font-size: 90px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 34px;
  opacity: 0;
  top: 50px;
  position: relative;
}

.hero-item h2 span {
  padding-left: 25px;
  padding-bottom: 15px;
  display: inline-block;
  background: #ffc000;
}

.hero-item h2 span:nth-child(1) {
  color: #081624;
}

.hero-item h2 span:nth-child(2) {
  padding-right: 14px;
}

.hero-item h2 span:last-child {
  padding-right: 30px;
}

.hero-item .site-btn {
  opacity: 0;
  top: 50px;
  position: relative;
}

.hero-slider .owl-item.active .hero-item h2,
.hero-slider .owl-item.active .hero-item .site-btn {
  top: 0;
  opacity: 1;
}

.hero-slider .owl-item.active .hero-item h2 {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.hero-slider .owl-item.active .hero-item .site-btn {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hero-item .site-btn:last-child {
  -webkit-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}
